.container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5;
}

html.dark {
    background-color: #16213E;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  .nav-links {
    display: block;
    text-align: end;
   margin-left: 0.5em;
    font-size: 1.2rem;
}

.Post {
  color: red;
  text-decoration: none;
  margin: 0.5em;
}

.Post.dark{
  color: #fff;
}