---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout>
	<h1>Hello world !</h1>

 Bonjour,
 <br> <br>

 Je m'appelle Gwilym Simonin et je vous souhaite la bienvenue sur ce site qui me servira de portfolio dans mon avancée vers le métier de développeur web et mobile!
  Pour me présenter, j'apprend à coder en autodidacte afin d'être prêt lors de ma rentrée en école en octobre et pour mon apprentissage.
  J'ai d'abord appris les bases HTML et CSS avant de me tourner vers Astro (qui est la base de ce site).
<br> <br>
Retrouve moi sur mes réseaux sociaux :
  <a href="https://www.linkedin.com/in/gwilym-simonin-14692b260/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #114297; margin: 0.5em;"></i></a>
  <a href="https://github.com/GwilymSimonin" target="_blank"><i class="fa-brands fa-github fa-2xl" style="margin: 0.5em;"></i></a>
  <a href="mailto:gwilymsimonin.pro@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-2xl" style="color: #1f2b51; margin: 0.5em;"></i></a>

	<h2>Posts</h2>

	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} pubDate={post.frontmatter.pubDate} title={post.frontmatter.title}/>)}
	  </ul>
  
</BaseLayout>