---
import ThemeIcon from './ThemeIcon.astro';
import '../styles/global.css';
---
<div class="nav-links">
    <a href="/"><i class="fa-solid fa-house fa-2xl" style="color: black;"></i></a>
    <ThemeIcon />
     <br>
</div>

<style>    
</style>