---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-links">
    <ThemeIcon />
    <a href="/" class="lien"><i class="fa-regular fa-house fa-xl"></i></a> <br>
</div>

<style>    
</style>