---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import ThemeIcon from './ThemeIcon.astro';
---
<BaseLayout>

<div class="nav-links">
    <ThemeIcon />
    <a href="/" class="lien"><i class="fa-regular fa-house fa-xl"></i></a> <br>
</div>

</BaseLayout>

<style>    
</style>