---
import '../styles/global.css';
---
<div class="nav-links">
    ---------------------------------------<br>
    <a href="/" class="lien">Home</a> <br>
    ---------------------------------------
</div>

<style>    

</style>